#footer-menu{
    background-color: #395ca3;
    margin: -10px;
    position: fixed;
    bottom: 10px;
    right:0;
    border-radius: 0;
    z-index: 2000;
}

#footer-menu .footer-item{
    color: white
}

#footer-menu .footer-item #footer-right{
    position: fixed;
    right: 20px
}

.footer-item a {
    color: white;
}

.footer-item a:hover {
    color: #f5f5f5;
}