.container {
  padding: 10px;
}

body {
    background-color: #f5f5f5;
    font-size: 1.3em;
}

.content-list {
    padding-top: 1.2em;
}

.content-list-item {
    /*font-size: 1.2em;*/
}

.content-header {
    padding-top: 1.2em;
}